<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308704876023-utl94h7e01td3qu948oq73d602u756hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308704876023-utl94h7e01td3qu948oq73d602u756hn</string>
	<key>API_KEY</key>
	<string>AIzaSyB4cQl4dnzcdWdi6d9kJ3uq900tE5BUUyo</string>
	<key>GCM_SENDER_ID</key>
	<string>308704876023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.rdlabo.capacitor.firebase-analytics</string>
	<key>PROJECT_ID</key>
	<string>capacitor-firebase-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>capacitor-firebase-analytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308704876023:ios:ec31fcd466276f44d54af2</string>
	<key>DATABASE_URL</key>
	<string>https://capacitor-firebase-analytics.firebaseio.com</string>
</dict>
</plist>